---
layout: layouts/base.njk
title: Blog
description: All blog posts.
permalink: /blog/
layoutClass: is-blog-page
---

<section class="writing" aria-label="Writing">
  <h1 class="writing-heading">thinking out loud</h1>

  <ul class="writing-list">
    {%- for post in collections.posts | reverse -%}
      <li class="writing-item">
        <a href="{{ post.url }}" class="writing-link">
          <span class="writing-title">{{ post.data.title }}</span>
          {% if post.date %}<time class="writing-date">{{ post.date | formatDate }}</time>{% endif %}
        </a>
      </li>
    {%- endfor -%}
  </ul>
</section>
