---
layout: layouts/base.njk
title: MyGPT
description: Work in progress.
permalink: /mygpt/
layoutClass: is-mygpt-page
---

<section class="wip-page">
  <div class="wip-content">
    <span class="wip-badge">WIP</span>
    <h1 class="wip-title">mygpt</h1>
    <p class="wip-text">work in progress</p>
  </div>
</section>
